{% extends 'base.html' %}

{% block title %}Tagged Locations{% endblock %}

{% block body %}

    <h3>Tagged Locations</h3>

    <table>
    <tr>
        <th>Name</th>
        <th>Tags</th>
    </tr>
    {% for object in object_list %}
        <tr>
        <td>
            <a href="{% url 'tagged_location_detail' pk=object.pk %}">
            {{ object.name }}
            </a>
        </td>
        <td>{{ object.tags_text }}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <a href="{% url 'tagged_location_create' %}">Create</a>

{% endblock %}