{% extends 'base.html' %}

{% block title %}Tagged Locations{% endblock %}

{% block body %}

    <h3>Tagged Locations</h3>

    <form>
    <input type="text" name="query" value="{{ query|default_if_none:'' }}">
    <input type="submit" value="Search">
    </form>
    <br>

    <table>
    <tr>
        <th>Name</th>
        <th>Tags</th>
        {% if query %}
            <th>Num Matched Tags</th>
        {% endif %}
    </tr>
    {% for object in object_list %}
        <tr>
        <td>
            <a href="{% url 'tagged_location_detail' pk=object.pk %}">
            {{ object.name }}
            </a>
        </td>
        <td>{{ object.tags_text }}</td>
        {% if query %}
            <td>{{ object.num_tags }}</td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
    <br>
    <a href="{% url 'tagged_location_create' %}">Create</a>

{% endblock %}